<form action="/game" method="post">
    <label><input name="gameTitle" placeholder="Title *" required></label>
    <label><textarea name="gameText" placeholder="Text *" required></textarea></label>
    <label><input name="maxTime" placeholder="Max Time"></label>
    <button>Host</button>
</form>