<h2>Host</h2>
<form action="/game" method="post">
    <label>Text:<textarea name="gameText" required></textarea></label>
    <label>Title:<textarea name="gameTitle" required></textarea></label>
    <label>Maximum Time:<input name="max-time"></label>
    <button>Host</button>
</form>