<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Typster</h1>
    {{{body}}}
</body>
</html>