<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typster</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
<h1>Typster</h1>
{{{body}}}
</body>
</html>