body {
    padding: 16px;
    width: 320px;
    margin: 0 auto;
}
body, html {
    background-color: #EBECF0;
}
body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

#game-text-container {
    display: flex;
    flex-wrap: wrap;
    font-family: monospace, sans-serif;
}

.cursor {
    border-radius: 2px;
    position: absolute;
    transition: all 0.1s;
}